{% extends 'base.html.twig' %}
    {% block body %}
        Портфель "{{ portfolio.name }}"
        <br>
        {% if portfolio.stocks is empty%}
            <br>Акций в портфеле нет
        {% else %}
            <ul>
                {% for stock in portfolio.stocks %}
                    <li><a href="{{ path('show_stock', {'stock': stock.id}, false) }}">{{ stock.name }} {{ stock.symbol }}</a></li>
                {% endfor %}
            </ul>
            <div id="chart_div"></div>
        {% endif %}
        <a href="{{ path('show_portfolio', { 'portfolio': portfolio.id }) }}">Назад</a>
    {% endblock %}
    {% block javascripts %}
        {% if portfolio.stocks is empty%}
        {% else %}
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script>
                google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(drawChart);
                function drawChart() {
                    var data = new google.visualization.DataTable();
                    data.addColumn('date', 'Day');
                    data.addColumn('number', 'Value');
                    data.addRows([
                        {% for date,value in resultArray %}
                        [new Date("{{ date }}"), {{ value }}],
                        {% endfor %}
                    ]);

                    var options = {
                        title: '',
                        width: 1600,
                        height: 800,
                        hAxis: {
                            format: 'MMM/dd/yyyy',
                        },
                    };

                    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

                    chart.draw(data, options);
                }
            </script>
        {% endif %}
    {% endblock %}